@import url('https://fonts.googleapis.com/css2?family=Nobile:ital,wght@1,400;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Nobile', sans-serif;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: black;
    height: 20vh;
}

#logo {
    width: 15%;
    height: 100%;
}

#logo img {
    width: 100%;
    height: 100%;
}

#NavbarText {
    width: 85%;
    height: 100%;
    text-align: center;
    margin-top: 2%;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#fH1 {
    color: yellow;
    padding-left: 25%;
}

#sH2 {
    color: blue;
    padding-right: 25%;
}

section {
    display: flex;
    flex-direction: row;
}

#leftBar {
    width: 20%;
    height: 80vh;
}

#centerDiv {
    width: 60%;
}

#rightBar {
    width: 20%;
    height: 80vh;
}

footer {
    background-color: black;
    text-align: center;
}

footer h1 {
    padding: 20px;
    font-weight: 700;
    color: white;
}

.sidebarLinksLeft {
    padding-left: 10%;
    list-style: none;
    padding-top: 12%;
}

.sidebarLinksLeft li {
    border-top: 3px yellow solid;
    padding-top: 5px;
    padding-bottom: 7px;
    border-right: none;
}

.sidebarLinksLeft li:hover {
    cursor: pointer;
    padding-bottom: 10px;
    border-right: 3px yellow solid;
}

.sidebarLinksLeft li a {
    color: darkblue;
}

.sidebarLinksRight {
    padding-left: 10%;
    list-style: none;
    padding-top: 12%;
}

.sidebarLinksRight li {
    border-top: 3px blue solid;
    padding-top: 5px;
    padding-bottom: 7px;
    border-left: none;
}

.sidebarLinksRight li:hover {
    cursor: pointer;
    padding-bottom: 10px;
    border-left: 3px blue solid;
}

.sidebarLinksRight li a {
    color: darkblue;
}

#centerDiv {
    text-align: center;
}